{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}

    <h1>Hello World!!</h1>
    <p>
      Welcome to bch-labapp, a controlled laboratory environment designed for testing and evaluating security mechanisms in a realistic but safe setting. 
      The platform is intended for experimentation with security controls, application behavior, and defensive techniques under non-production conditions.
    </p>

    <p>
      All data within this system is synthetic and does not represent real users or real-world information. The environment is isolated and intended solely 
      for learning, development, and security validation purposes.
    </p>

    <p>
      Features:
      <ul>
        <li>WAF Panel</li>
        <li>Sign-In functionality</li>
        <li>WebShop</li>
        <li>API Panel</li>
        <li>Guest Book</li>
        <li>LMM Chat Bot</li>
      </ul>
    </p>
    <br>
    <p>Github location: [ <a href="https://github.com/spmpl-pl/spm-web-lab">link</a> ]</p>


{% endblock %}

